<ion-content [fullscreen]="true" class="ion-padding">
  <div class="center-container">
    <img src="/assets/img/dental-logo.webp" alt="dentalink logo" style="width: 200px;">
  </div>

  <div id="login-container" class="ion-margin-top ion-padding">
    <ion-card class="ion-text-center">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item class="ion-margin-bottom">
          <ion-input  label="Usuario" label-placement="floating" fill="solid" formControlName="username" type="text" clear-input></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-input  label="Clave" label-placement="floating" fill="solid" formControlName="password" type="password" clear-input></ion-input>
        </ion-item>

        <ion-button (click)="showLoading()" expand="block" type="submit" [disabled]="!loginForm.valid" color="success" style="margin-top: 20px;">
          Ingresar
        </ion-button>
      </form>
    </ion-card>
  </div>

  <div>
    <ion-button expand="block" fill="clear" color="light" routerLink="/register">
      ¿No tienes cuenta? Regístrate
    </ion-button>
  </div>
</ion-content>
