#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  transform: translateY(-50%);
}

ion-content {
  --background: #A2B1B8; /* El color que desees */
}

ion-card {
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.1); /* Grosor (sombra) */
  border: 1px solid #e0e0e0; /* Borde opcional */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno (opcional) */
}


.center-container {
  display: flex;              /* Activa el modo flexbox */
  justify-content: center;     /* Centrado horizontal */
  align-items: center;         /* Centrado vertical */
  height: 100px;               /* Hace que el contenedor ocupe toda la altura de la ventana */
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

ion-card {
  width: 90%;
  max-width: 400px;
}

ion-button {
  margin-top: 16px;
}


.outlined-label {
  display: inline-block;
  padding: 2px 6px;
  border: 2px solid var(--ion-color-primary);
  border-radius: 4px;
  font-weight: bold;
  color: var(--ion-color-primary);
  background-color: var(--ion-background-color);
  transition: all 0.3s ease;
}

ion-item.ion-focused .outlined-label {
  border-color: var(--ion-color-primary-shade);
  color: var(--ion-color-primary-shade);
}
